main {
    background-color: aqua;
    height: 600px;
}

#grid {
    height: 500px;
    width: 500px;
}

#grid .col{
    height: calc(100% / 10);
    min-width: calc(100% / 10);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid .clicked{
    background-color: lightblue;
}

#grid .boomb {
    background-image: url(../img/bomba.png);
    background-color: red;
    background-position: center;
    background-size: cover;
}